.desktop-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #ffffff;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1.5rem;
}

.title {
  display: flex; 
  align-items: center;
  padding-right: 30%;
}

.title img {
  width: 75px;
  height: auto;
}

.title a {
  text-decoration: none;
  color: #B3B3B3; 
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  margin-right: 22%;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links a {
  text-decoration: none;
  color: #B3B3B3;
  font-weight: bold;
  margin-left: 30px;
}

.nav-links a:hover {
  color: #39542F;
}


/* Mobile and Tablet screens */
@media screen and (max-width: 767px) {
  .desktop-navbar {
    display: none;
  }
  .mobile-navbar {
    display: block;
  }
}

/* Desktop screens */
@media screen and (min-width: 768px) {
  .desktop-navbar {
    display: block;
  }
  .mobile-navbar {
    display: none;
  }
}


body {
  margin: 0;
}

:root {
    --primary-black: #1A1A1A;
    --primary-white: #FFF;
    --primary-gold: #FFEDA6;
    --primary-green: #39542F;
    --body-text: #525252; /* Body text */
    --body-text-light: #8F8F8F; /* Body text light */
    --off-white: #F8F8F8; /* Container Fill */
    --light-gray: #E6E6E6; /* Borders */
    --inactive-gray: #B3B3B3; /* Inactive buttons */
    --drop-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}