.main {
    background-color: rgb(245, 245, 245);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
}

.primaryContainer {
    background-color: white;
    width: 60%;
    min-height: 100vh;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    box-shadow: var(--drop-shadow);
}

.titleContainer h2 {
    color: var(--body-text);;
    font-weight: 400;
    margin: 0;
}

.titleContainer h1 {
    color: var(--primary-black);
    margin: 10px 0 0 0;
}

.searchContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0;
    gap: 20px;
}

.search {
    background-color: var(--off-white);
    border: none;
    height: 60px;
    width: calc(100% - 140px);
    border-radius: 12px;
    box-shadow: var(--drop-shadow);
    padding: 0 20px;
    margin: 30px 0 50px 0;
    font-size: 1.15rem;
    outline: 2px solid transparent;
    transition: 150ms ease-in-out;
    box-sizing: border-box;
}

.search:focus {
    outline: 2px solid var(--primary-green);
}

.searchButton {
    background-color: var(--primary-green);
    outline: 2px solid var(--primary-green);
    border: none;
    height: 60px;
    width: 120px;
    border-radius: 12px;
    color: var(--primary-white);
    box-shadow: var(--drop-shadow);
    padding: 0 20px;
    margin: 30px 0 50px 0;
    font-size: 1.15rem;
    font-weight: bold;
    outline: 2px solid transparent;
    transition: 150ms ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
}

.searchButton:hover {
    background-color: transparent;
    color: var(--primary-green);
    outline: 2px solid var(--primary-green);
}

.recipeContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 2%;
    justify-content: space-between;
}

/* MOBILE STYLES */

@media screen and (max-width: 767px) {
    .primaryContainer {
        width: 90%;
        padding: 0;
        box-shadow: none;
        padding-top: 1rem;
    }

    .main {
        background-color: var(--primary-white);
    }
  }