.navbar {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
    gap: 30px;
    align-items: center;
    background-color: var(--primary-white);
    font-family: 'Lexend Deca', sans-serif;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: bold;
    width: 15%;
  }
  
  
  .navLinks a {
    text-decoration: none;
    font-weight: bold;
  }

  .inactiveText {
    color: var(--inactive-gray);
  }

  .activeText {
    color: var(--primary-green);
  }
  
  
  .logo {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
  }
  
  .logo img {
    width: 50px;
    height: auto;
  }
  
  .logo a {
    text-decoration: none;
    color: #B3B3B3; 
    font-weight: bold;
  }

  @media screen and (min-width: 767px) {
    .navbar {
      display: none;
    }
  }