.desktopNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #ffffff;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
  }
  
  .title {
    display: flex; 
    align-items: center;
    padding-right: 30%;
  }
  
  .title img {
    width: 75px;
    height: auto;
  }
  
  .title a {
    text-decoration: none;
    color: #B3B3B3; 
    font-weight: bold;
  }

.navLinks {
    display: flex;
    justify-content: flex-end;
    margin-right: 22%;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .navLinks a {
    text-decoration: none;
    color: #B3B3B3;
    font-weight: bold;
    margin-left: 30px;
  }
  
  .navLinks a:hover {
    color: #39542F;
  }
  