.desktopNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }

  .navLinks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .navLinks a {
    text-decoration: none;
    color: #B3B3B3;
    font-weight: bold;
  }
  
  .navLinks a:hover {
    color: #39542F;
  }
  
  
  .logo {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
  }
  
  .logo img {
    width: 50px;
    height: auto;
  }
  
  .logo a {
    text-decoration: none;
    color: #B3B3B3; 
    font-weight: bold;
  }

  @media screen and (max-width: 767px) {
    .desktopNavbar {
      display: none;
    }
  }