/* RecipeCard.module.css */
.card {
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .image {
    width: 100%;
    display: block;
  }
  
  .content {
    padding: 16px;
  }
  
  .name {
    margin-bottom: 8px;
  }
  
  .calories {
    margin-bottom: 8px;
  }
  
  .link {
    display: inline-block;
    color: blue;
    text-decoration: none;
  }
  