
.card {
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex; 
  }
  
  .image {
    width: 40%; 
    display: block;
  }
  
  .content {
    flex: 1; 
    padding: 16px;
  }
  
  .name {
    margin-bottom: 8px;
  }
  
  .calories {
    margin-bottom: 8px;
  }
  
  .link {
    display: block;
    color: black; 
    text-decoration: none;
    text-align: right; 
  }
  