/* RecipeCard.module.css */
.card {
    font-family: 'Lexend Deca', sans-serif;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
  }
  
  .image {
    width: 100%; 
    display: block;
  }
  
  .content {
   
    justify-content: space-between; 

  }
  
  .name {
    margin-bottom: 8px;
    color: #525252; 
    text-transform: bold;
    font-weight: bold;
  }
  
  .calories {
    margin-bottom: 8px;
  }
  
  .link {
    color: #525252; 
    text-decoration: none;
    font-weight: bold;
  }
  
  .label {
    padding: 16px;
    flex-grow: 1; 
    display: flex; 
    align-items: flex-start;
  }